@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');
@import url(./header.css);
@import url(./section.css);
@import url(./footer.css);

body{
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
    height: 100%;
}
/*
background-color:#1C769C;
background-color:#79CDDF;
background-color:#111E24;
background-color:#FAF4F4;
*/



/*
Houve uma época na qual a ciência era proíbida, em que certas descobertas ameaçavam as explicações tradicionais, o poder da Igreja e de líderes
políticos. Durante a Idade Média e o início da Idade Moderna, o conhecimento estava amplamente ligado à religião, e a Igreja Católica, 
por exemplo, era a principal autoridade
intelectual e espiritual na Europa. Qualquer descoberta científica que questionasse as doutrinas religiosas, como a estrutura do universo, 
a origem das doenças ou o funcionamento do
corpo humano, era vista como uma ameaça à fé e à autoridade da Igreja.
cortando minha história inteira até a parte em que chega no futuro, e, aparece um monte de palhaço com tatuagens da logo do brasil, roupas com 
logo do brasil começaram a mudar o 
comportamento. Era uma droga bem pior que qualquer outra, a K9 não chega aos pés dessa droga.
Uma seita oculta de agentes/políciais/celebridades secretos que existia desde 1231 d.C começaram a investigar o caso todo, vendo base na elite
 mundial, que não controlava só o Brasil.
Então com suas armas futurísticas eles começaram uma batalha invencível contra esses palhaços que vieram pra matar, roubar e destruir quando 
estão sob efeito dessas drogas.
Antes dessa seita oculta existir. Em 1717 d.c existia a fraternidade de pedreiros, ambos com uma diferença de 300/400 anos 
*/